@import "./mixins.module.scss";
@import "./variables.module.scss";

.header {
  height: 120px;
  margin: 0 auto;
  @include centered-flex;
  justify-content: space-between;
  font-weight: bold;
  @include small-devices {
    padding: 0 3vw;
    height: 80px;
  }
  @include x-small-devices {
    padding: 0;
    align-items: flex-start;
    height: 70px;
  }
  .nav {
    @include centered-flex;
    @include small-devices {
      @include vertical-flex;
    }
    a {
      color: $color-black;
      font-size: larger;
      margin-right: 16px;
      line-height: 30px;
      @include small-devices {
        font-size: 0.9em;
        margin-bottom: 0;
      }
      &:hover {
        color: $color-brand-medium;
      }
    }
    .active {
      color: $color-brand-dark;
      &:after {
        content: "";
        display: block;
        margin: auto;
        height: 2px;
        width: 100%;
        background: $color-brand-dark;
      }
    }
  }
}

.logo {
  @include centered-flex;
  justify-content: space-between;
  height: 100%;
  @include small-devices {
    align-items: flex-start;
  }
  .title {
    @include vertical-flex;
    margin-right: 32px;
    @include small-devices {
      align-self: center;
    }
    @include x-small-devices {
      margin: 2vh 12px 0 0;
      align-items: flex-end;
      align-self: flex-start;
    }
    h1 {
      font-size: 3em;
      text-align: center;
      font-weight: normal;
      @include small-devices {
        font-size: 1.5em;
        font-weight: 700;
      }
      @include x-small-devices {
        font-size: 1.3em;
        font-weight: 600;
        text-align: right;
      }
    }
    h2 {
      font-size: 1.2em;
      text-align: center;
      margin-top: 8px;
      @include small-devices {
        font-size: 1em;
      }
      @include x-small-devices {
        font-size: 0.9em;
        font-weight: 600;
        text-align: right;
      }
    }
  }
  .container {
    width: 100px;
    height: 100px;
    @include small-devices {
      width: 80px;
      height: 80px;
    }
    @include x-small-devices {
      width: 60px;
      height: 60px;
    }
    img {
      object-fit: cover;
      object-position: center;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
