//color scheme
$color-brand-dark: #435308;
$color-brand-medium: #6f870f;
$color-brand-light: #94ad18f6;
$color-white: #fff;
$color-black: #585858;

//responsive map:
$breakpoints: (
  large: 1200px,
  medium: 992px,
  small: 768px,
  x-small: 576px,
);
